/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  width: 1400px;
  margin: 0 auto;
}
.container-full-width {
  width: auto;
}
.flex-container {
  display: flex;
}
.margin-x-auto {
  margin: 0 auto;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/HomepageBaukasten-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/Hero Light.otf") format("opentype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/Helvetica Neu Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.dark-bg {
  background-color: #383838;
}
body {
  background-color: #fafbfb;
  font-size: 14px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
}
a {
  text-decoration: none;
}
.primary-btn {
  background-color: #d35266;
  padding: 1em 1.5em;
  border-radius: 5px;
  color: white;
  border: none;
  outline: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.flex-align-center {
  align-items: center;
}
.messages-number:after {
  content: "1";
  position: absolute;
  top: 0;
  padding: 5px;
  font-size: 0.8em;
  color: white;
  border-radius: 25%;
  background-color: #d35266;
}
header {
  width: 85vw;
  justify-content: space-between;
  padding: 15px 0;
}
header nav {
  text-transform: uppercase;
}
header nav img#logo {
  height: 60px;
}
header nav > * {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1.5em;
}
header nav ul li {
  display: inline;
  margin: 0 2em;
}
header nav ul li:hover a,
header nav ul li:hover i {
  color: #d35266;
}
header a,
header i {
  color: #888888;
  margin: 0 1em;
}
header #profile {
  position: relative;
}
header #profile span {
  padding: 1em;
}
header #profile-image-container {
  color: white;
}
header #profile-image-container img {
  border-radius: 50%;
  height: 60px;
}
