/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/HomepageBaukasten-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/Hero Light.otf") format("opentype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/Helvetica Neu Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.dark-bg {
  background-color: #383838;
}
.darker-bg {
  background-color: #f7f7f7;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.container-full-width {
  width: auto;
}
.border {
  border: 1px solid #88888869;
}
.flex-container {
  display: flex;
}
.margin-x-auto {
  margin: 0 auto;
}
#products {
  margin-top: 15px;
}
.products-show {
  width: auto;
  padding: 5px 25px;
  margin: 0 auto;
}
.products-show h2 {
  border-bottom: 1px solid #88888869;
  font-weight: normal;
  margin: 25px auto;
  width: 90%;
  padding-bottom: 15px;
}
.products-grid {
  margin: 0 auto;
  position: relative;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
}
.products-grid > span {
  position: absolute;
  top: 40%;
  font-size: 3em;
  color: black;
  cursor: pointer;
}
.products-grid > span:first-of-type {
  left: -5%;
}
.products-grid > span:last-of-type {
  right: -5%;
}
.products-grid article {
  border: 1px solid #88888869;
  background-color: white;
}
.products-grid article img {
  width: 100%;
  margin: 0 auto;
}
.products-grid article > h3,
.products-grid article > span {
  margin: 5px 15px;
}
.products-grid article div {
  padding: 15px;
  justify-content: space-between;
}
.products-grid article div * {
  margin: 5px 0;
}
.products-grid article div button {
  padding: 1em 1.5em;
  border: none;
  outline: none;
  color: #383838;
  background-color: white;
  box-shadow: none;
  padding: 5px 10px;
  border: 1px solid #88888869;
}
.products-grid article div span {
  color: #d35266;
}
body {
  background-color: #fafbfb;
  font-size: 14px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  color: #888888;
  line-height: 1.4em;
}
p {
  margin: 15px;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gotham", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  margin: 15px;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 1.8em;
}
a {
  text-decoration: none;
}
.primary-btn {
  background-color: #d35266;
  padding: 1em 1.5em;
  border-radius: 5px;
  color: white;
  border: none;
  outline: none;
  transition: all 0.5s ease-out;
}
.primary-btn:hover {
  background-color: white;
  color: #d35266;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.flex-align-center {
  align-items: center;
}
.messages-number:after {
  content: "1";
  position: absolute;
  top: 0;
  padding: 5px;
  font-size: 0.8em;
  color: white;
  border-radius: 25%;
  background-color: #d35266;
}
header {
  width: 85vw;
  justify-content: space-between;
  padding: 15px 0;
}
header nav {
  text-transform: uppercase;
}
header nav img#logo {
  height: 60px;
}
header nav > * {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1.5em;
}
header nav ul li {
  display: inline;
  margin: 0 2em;
}
header nav ul li:hover a,
header nav ul li:hover i {
  color: #d35266;
}
header a,
header i {
  color: #888888;
  margin: 0 1em;
}
header #profile {
  position: relative;
}
header #profile span {
  padding: 1em;
}
header #profile-image-container {
  color: white;
}
header #profile-image-container img {
  border-radius: 50%;
  height: 60px;
}
.flat-btn {
  padding: 1em 1.5em;
  border: none;
  outline: none;
  color: #383838;
  background-color: white;
  box-shadow: none;
}
#search {
  height: 40vh;
  position: relative;
  background-color: #d35266;
  color: white;
  z-index: 1;
}
#search:after {
  width: 50%;
  height: 110%;
  content: "";
  background: url(../../../img/search-overlay.png) no-repeat top;
  opacity: 0.1;
  top: -15%;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  transition: all 1s ease-out;
}
#search:hover:after {
  opacity: 0.2;
  transform: rotate(10deg);
}
#search > div {
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  width: 80%;
  height: 100%;
}
#search-text img {
  height: 100px;
}
#search-text p {
  font-size: 1.8em;
}
#search-container > button {
  padding: 1em 1.5em;
  border: none;
  outline: none;
  color: #383838;
  background-color: white;
  box-shadow: none;
}
#search-container > button:last-child {
  background-color: #383838;
}
#search-container > button:last-child a {
  color: white;
}
#search-container input {
  padding: 1em 1.5em;
  border: none;
  outline: none;
  width: 400px;
  color: #383838;
  background-color: white;
  box-shadow: none;
}
#search-container input:nth-child(3) {
  width: 200px;
}
.nextItem {
  width: 50px;
  height: 50px;
  color: #d35266;
  font-size: 4em;
  padding: 16px 0 0 16px;
  position: absolute;
  top: 40%;
  border-radius: 50%;
  border: 1px solid #88888869;
  cursor: pointer;
}
#hot-ads {
  position: relative;
  width: 50%;
}
#hot-ads h2 {
  text-align: left;
  margin-left: 0;
  font-size: 1.8em;
  font-weight: normal;
}
#hot-ads article img {
  width: 100%;
}
#hot-ads article section h2 {
  font-size: 2em;
  color: #d35266;
  margin: 0 15px;
}
#hot-ads article section div {
  margin: 15px;
}
#hot-ads article section div strong {
  font-weight: bold;
}
#hot-ads article section div > * {
  display: block;
}
#hot-ads article button {
  background-color: #d35266;
  padding: 1em 1.5em;
  border-radius: 5px;
  color: white;
  border: none;
  outline: none;
  transition: all 0.5s ease-out;
  text-transform: capitalize;
}
#hot-ads article button:hover {
  background-color: white;
  color: #d35266;
}
#hot-ads article button:first-of-type {
  margin: 0 0 0 15px;
  border-radius: 15px 0 0 15px;
}
#hot-ads article button:last-of-type {
  margin: 0 0 0 -3px;
  border-radius: 0 15px 15px 0;
}
#hot-ads article:after {
  width: 50px;
  height: 50px;
  color: #d35266;
  font-size: 4em;
  padding: 16px 0 0 16px;
  position: absolute;
  top: 40%;
  border-radius: 50%;
  border: 1px solid #88888869;
  cursor: pointer;
  content: ">";
  right: -17%;
}
#hot-ads article:before {
  width: 50px;
  height: 50px;
  color: #d35266;
  font-size: 4em;
  padding: 16px 0 0 16px;
  position: absolute;
  top: 40%;
  border-radius: 50%;
  border: 1px solid #88888869;
  cursor: pointer;
  content: "<";
  left: -17%;
}
#hot-ads article:hover:before,
#hot-ads article:hover:after {
  background-color: #d35266;
  color: white;
}
