#results-page {
  .border;

  padding: 25px 0;
  background-color: @darkerBackground;

  .grid-container;

  grid-template-columns: 1fr 4fr;
  // Large
  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
  }

  main {
    > div {
      &hover {
        background-color: white;
      }

      padding: 15px;
      margin: 15px;
      .border;
      .grid-container;

      grid-template-columns: 1fr 2fr;
      gap: 25px;

      //Medium
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      img {
        width: 100%;
      }

      section {
        .flex-container;

        justify-content: space-between;
        flex-direction: column;

        h2 {
          margin-left: 0;
        }
      }

      button {
        padding-top: 5px;
        .primary-btn;
        .capitalize;

        float: right;
        margin: 5px;
      }
    }
  }
}

aside {
  ul {
    li {
      cursor: pointer;
      padding: 10px;

      &:first-of-type {
        font-weight: bold;
        border-bottom: 1px solid @pink;
        padding-bottom: 5px;
      }
    }

    padding: 15px;
  }

  // Large
  @media screen and (max-width: 992px) {
    text-align: center;
  }

  //Medium
  @media screen and (max-width: 768px) {
    display: none;
  }
}
